@media only screen and (max-width: 1024px) {
  .main-nav {
    display: none;
  }

  .nav-back {
    display: none;
  }

  .menu li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background: #000;
  }

  .submenu {
    background: #000;
    height: 10.5rem;
    display: none;
  }

  .submenu li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0.8rem;
    color: #fff;
    text-decoration: none;
  }

  /* header content */
  .header-content img {
    width: 11rem;
  }

  .header-content h1 {
    letter-spacing: 1.5rem;
    padding-left: 1.5rem;
    font-size: 3rem;
  }

  /* about */
  .about-content p {
    text-align: justify;
  }

  /* photogallery */
  .photogallery img:hover {
    transform: scale(1);
  }

  /* contact form */
  .contact-f input[type="text"]:focus,
  .contact-f input[type="email"]:focus,
  .contact-f textarea:focus {
    width: 98%;
  }
}

@media only screen and (max-width: 590px) {
  /* contact form */
  .contact-f input[type="text"],
  .contact-f input[type="email"],
  .contact-f textarea {
    width: 90%;
    font-size: 0.9rem;
  }

  .contact-f input[type="text"],
  .contact-f input[type="email"],
  .contact-f textarea {
    width: 90%;
  }
}
