@media only screen and (max-width: 1024px) {
  /* navigation */
  nav ul li a:hover,
  nav ul li a:active {
    color: #fff;
  }

  /* header content */
  .header-content img {
    width: 100px;
  }

  .header-content h1 {
    letter-spacing: 1.5rem;
    padding-left: 1.5rem;
    font-size: 3rem;
  }

  /* photogallery */
  .photogallery img:hover {
    transform: scale(1);
  }

  /* contact form */
  .contact-f input[type="text"]:focus,
  .contact-f input[type="email"]:focus,
  .contact-f textarea:focus {
    width: 98%;
  }
}

@media only screen and (max-width: 590px) {
  /* contact form */
  .contact-f input[type="text"],
  .contact-f input[type="email"],
  .contact-f textarea {
    width: 90%;
    font-size: 0.9rem;
  }

  .contact-f input[type="text"],
  .contact-f input[type="email"],
  .contact-f textarea {
    width: 90%;
  }
}

@media only screen and (max-width: 520px) {
  /* navigation */
  .nav-back {
    height: 2.5rem;
    border-bottom: 0.05rem #fff solid;
  }

  nav ul {
    height: 2.5rem;
  }

  nav ul li a:link,
  nav ul li a:visited {
    font-size: 0.9rem;
  }
}
